.box{
    border: 2px solid white;
    // width: 30%;
    height: auto;
    text-align: start;
    padding: 10px;
}
.expense{
    margin: 3px;
    padding: 5px;
    background-color: grey;
    border-color: black;
    *{
        color: black;
        padding: 0px;
        margin: 0px;
    }
}
.delete{
    background-color:whitesmoke;
    border-color: black;
}
.delete:hover{
    background-color: lightgrey;
    border-color: red;
    path{
        color:red;
    }
}
